# pass
.env

# archive
0-archive/*

# outputs
latex-input/*
responses/*
1-many-responses/*
2-many-papers/*
logs/*
output*/*
saved-output/*

# temp stuff
zzz-*.py
temp/*

# python cache
__pycache__/*

# latex template aux files
lit-context/template.aux
lit-context/template.bbl
lit-context/template.blg
lit-context/template.log
lit-context/template.out
lit-context/template.pdf
lit-context/template.bcf
lit-context/template.run.xml
lit-context/template.synctex.gz

