# pass
.env

# archive
0-archive/*

# outputs
responses/*
manyout000*/*
manyout0301*/*
output*/*
manyout*-detail/*


# temp stuff
zzz-*.py
temp/*

# python cache
__pycache__/*

# latex template aux files
latex-input/template.aux
latex-input/template.bbl
latex-input/template.blg
latex-input/template.log
latex-input/template.out
latex-input/template.pdf
latex-input/template.bcf
latex-input/template.run.xml
latex-input/template.synctex.gz

